h2, h3{
  font-family: 'Courgette', cursive;
}
.container{
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.logo{
	height: 30px;
	width: 30px;
}
.some{
	font-family: 'Gamja Flower', cursive;
  padding: 10px;
  font-size: 1em;
}
.fa:hover{
  text-decoration: none;
  color: white;
  background-color: black;
}
.fa{
  position: right top;
  padding: 15px;
  font-size: 25px;
  border-radius: 50%;
  display: inline-table;
}

.fa-facebook{
	background-color: #125688;
	color: white;
	text-align: center;
  width: 55px;
  height: 55px;
	padding: 15px;
} 
.fa-instagram{
	background-color: #f40083;
	color: white;
	text-align: center;
  width: 55px;
  height: 55px;
	padding: 15px;
}
.fa-twitter{
	background-color: #55ACEE;
	color: white;
	text-align: center;
  width: 55px;
  height: 55px;
	padding: 15px;
}
.menu{
	margin-top: 50px;
  overflow: hidden;
  background-color: rgb(210, 128, 71, 0.5);
}
@media screen and (max-width: 800px) {
  .some, .menu a, .menu input[type=text] {
    display: none;
  }
  .menu a.icon {
    float: right;
    display: block;
  }
  .menu.responsive {
    position: relative;
  }
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.menu a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu a:hover {
  background-color: rgb(210, 128, 71);
  color: black;
}
.menu a.active {
  background-color: rgb(223, 99, 71, 1.5);
  color: black;
}
.menu input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
}
.menu .icon {
  display: none;
}
.kuvadivi{
  background-image: url(/loppuharkka/redfox.jpg);
  max-width: auto;
  height: 600px;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.kuvateksti h1 {
  font-size: 3em;
}
.kuvateksti {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 2em;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  text-align: center;
}
.nappidivi{
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 60%;
  left: 40%;
  z-index: 2;
}
.nappi{  
  border: solid white 2px;
  background-color: transparent;
  border-radius: 5%;
  display: block;
  text-decoration: none;
  color: white;
  position: absolute;
  width: 20%;
  padding: 20px;
  text-align: center;
}
.nappi:hover {
  background-color: rgba(0,0,0, 0.4);
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.tekstirivi a{
  color: black;
  text-decoration: none;
}
.rivi {
  max-width: 600px;
}
.google:hover {
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 0px;
  font-family: 'Courgette', cursive;
  font-size: 1.5em;
}
.teksti {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1em;
}